
/* .card-header {
    font-weight: bold;
    color:  #e0ebeb !important;
    background-color: #24527a !important;
}

.card-body {
    background-color: #a7bcb9 !important;
} */


.card-header {
    font-weight: bold;
    color:  #e0ebeb !important;
    background-color: #080808 !important;
}

.card-body {
    background-color: #f5f5ff !important;
}



.full_width_li label {
    width:100%  !important;
    
}