{% extends 'main.html' %}

{% block content %}

<!-- Page content-->
<div class="container">
    <div class="text-center mt-5">
        <h1>Quality Engineering Dashboard</h1>
        <p class="lead">J & B Engineering</p>
        <a class="btn btn-primary" href="{% url 'record_create' %}" role="button">+ CREATE NEW RECORD</a>
     	<form  method="POST" action="{% url 'selected_records_delete' %}"  style="display: inline;"  onsubmit="window.delete_selected()">
        	{% csrf_token %}
		    {% if messages %}
		    {%for message in messages%}
		        <div role="alert">
		            {{ message }}
		        </div>
		    {% endfor %}
		    {% endif %}
		<button class="btn btn-danger" type="submit" value="DELETE" id="delete-button" >DELETE</button>
	
    </div>
</div>

<hr>

<div class="  px-5">
    <table class="table table-striped table-hover table-bordered align-middle table-responsive ">

        <tr class="table-info">
            <th scope="col">Issue Date</th>
            <th scope="col">NCR Number</th>
            <th scope="col">Advice Number</th>
            <th scope="col" class="d-none d-md-table-cell ">Location</th>
            <th scope="col" class="d-none d-md-table-cell ">Area</th>
            <th scope="col">Cost</th>
            <th scope="col">Issue Solved</th>
            <th scope="col">Closure Date</th>
            <th scope="col">Severity</th>
            <th scope="col">Person/Company responsible</th>
            <th scope="col">Select records to Delete</th>
        </tr>

        {% for dash in dashboard %}

        <tr class="align-top">
            <!-- <th scope="row">{{ forloop.counter }}</th> -->               
            <td> {{ dash.issue_date|date:"d/m/Y"  }} </td>
            <td>

                <a href="{% url 'record_detail' dash.pk %}" >{{ dash.ncr_number }} </a>
            </td>
            <td>{{ dash.advice_number }}</td>


            <!-- <td>
                {{ dash.description |slice:":50"  }}
            </td> -->

            <td class="d-none d-md-table-cell ">
                {% for location in dash.location.all %}

                {{location}}
        
                {% endfor %}
            </td>

            <td class="d-none d-md-table-cell ">
                {% for area in dash.area.all %}
                
                {% if not forloop.first %}
                    ,
                {% endif %}

                {{area}}
        
                {% endfor %}
            </td>


            <td>{{ dash.cost }}</td>
            <td>{{ dash.issue_solved }}</td>
            <td>{{ dash.closure_date|date:"d/m/Y"  }}</td>
            <td>
            {% if dash.severity == 3  %}
                <button type="button" class="btn btn-danger fw-bolder disabled">
                	      HIGH  
                </button>
            {% elif dash.severity == 2 %}
                <button type="button" class="btn btn-warning fw-bolder  disabled" >
                	      MEDIUM 
                </button>
            {% elif dash.severity == 1 %}
                <button type="button" class="btn btn-secondary fw-bolder  disabled" >
                	      LOW 
                </button>
            {% else %}
                <h1>----</h1>
            {% endif %}

            </td>
            <!-- <td>{{ dash.downtime_readability }}</td> -->


            <!-- <td>
                
                {% for employee_obj in dash.employee.all %}
                    {{ forloop.counter }}
                    {% if not forloop.first %}
                        ,
                    {% endif %}
                    {{ employee_obj }}

                {% endfor %}

            </td> -->


            <td class="d-none d-md-table-cell ">
			 	{% for employee_obj in dash.the_subject_responsible.all %}

                {% if not forloop.first %}
                    ,
                {% endif %}

                {{ employee_obj }}

                {% endfor %}
			</td>
            <td> <input type="checkbox" class="action-select" name="ids" value="{{dash.id}}" id="delete-selected" > </td>

        </tr>

        {% endfor %}

    </table>
	</form>
	
	<script type="text/javascript">
	window.delete_selected = function() { 
		var selected = document.getElementById("delete-selected");
		if(selected.checked){
			var isValid = confirm('Are you sure you want to delete the selected records ?');
			if (!isValid) { 
				event.preventDefault();  
				alert("The records will not be deleted !"); 
				}
		}else{
			alert("You didn't select any records !")
		}}
		
		
	</script>
	
    <div class="row">
        <div class="col-12">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>


</div>

{% endblock content %}
