{% extends 'main.html' %}

{% block content %}

<!-- Page content-->
<div class="container">
    <div class="text-center mt-5">
        <h1>Dashboard</h1>
        <p class="lead">J & B Engineering</p>
        <a class="btn btn-primary" href="{% url 'record_create' %}" role="button">+ CREATE NEW RECORD</a>
    </div>
</div>

<hr>

<div class="  px-5">
    <table class="table table-striped table-hover table-bordered align-middle table-responsive ">

        <tr class="table-info">
            <th scope="col"> # </th>
            <th scope="col">Issue Date</th>
            <th scope="col">NCR Number</th>
            <th scope="col">Job Reference Number</th>
            <th scope="col">Location</th>
            <th scope="col">Area</th>
            <th scope="col">Cost</th>
            <th scope="col">Issue Solved</th>
            <th scope="col">Closure Date</th>
            <th scope="col">Details</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>

        {% for dash in dashboardmodel_list %}

        <tr class="align-top">
            <th scope="row">{{ forloop.counter }}</th>
            
            <td> {{ dash.issue_date|date:"d/m/Y"  }} </td>
            <td>{{ dash.ncr_number }}</td>
            <td>{{ dash.job_reference_number }}</td>


            <!-- <td>
                {{ dash.description |slice:":50"  }}
            </td> -->

            <td>
                {% for location in dash.location.all %}

                {{location}}
        
                {% endfor %}
            </td>

            <td>
                {% for area in dash.area.all %}

                {{area}}
        
                {% endfor %}
            </td>
            <td>{{ dash.cost }}</td>
            <td>{{ dash.issue_solved }}</td>
            <td>{{ dash.closure_date|date:"d/m/Y"  }}</td>


            <!-- <td>
                
                {% for employee_obj in dash.employee.all %}
                    {{ forloop.counter }}
                    {% if not forloop.first %}
                        ,
                    {% endif %}
                    {{ employee_obj }}

                {% endfor %}

            </td> -->


            <td>

                <a class="btn btn-primary" href="{% url 'record_detail' dash.pk %}" role="button">DETAILS</a>

            </td>
            <td>
                <a class="btn btn-warning" href="{% url 'record_update' dash.pk %}" role="button">UPDATE</a>
            </td>
            <td>
                <a class="btn btn-danger" href="{% url 'record_delete' dash.pk %}" role="button">DELETE</a>
            </td>


        </tr>

        {% endfor %}

    </table>




</div>


{% endblock content %}
