

{% extends 'main.html' %}

{% block content %}

<div class="container">
                <div class="card-body p-md-5">
                        <form action="" method="post">
                                {% csrf_token %}
                                
                                <div class="mb-3" >
                                    <p>hello</p>
                                        {{ form.issue_area_name}}
                                </div>

                                <input class="btn btn-primary" type="submit" value="SUBMIT" > 


                                <a class="btn btn-danger" href="{% url 'dashboard' %}" role="button">CANCEL</a>
                        </form>
                        </div>

                        <div class="container">
                            <ul class="list-group">
                                
                                {% for production in issue_items %}

                                <li class="list-group-item col-3" >  {{production.issue_area_name}}</li>
                                    
                                {% endfor %}
                            
                            </ul>
                        </div>
                </div>


            <container>
                <div class="row justify-content-md-center">
                    <div class="  col-4">
                        <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                        <select class="form-select" id="inlineFormSelectPref">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="  col-4">
                        <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                        <select class="form-select" id="inlineFormSelectPref">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </container>

{% endblock content %}