{% extends 'main.html' %}
{% load static %}
{% block content %}


<style>

.previous:hover {
  background-color: #16A131;
  color: black;
  border-radius: 6px;
  margin-bottom: 15px;
}

.next:hover {
  background-color: #16A131;
  color: black;
  border-radius: 6px;
  margin-bottom: 15px;
}

.previous {
  background-color: #148E2C;
  color: white;
  border-radius: 4px;
  margin-bottom: 15px;
}

.next {
  background-color: #148E2C;
  color: white;
  float: right;
  border-radius: 4px;
  margin-bottom: 15px;
}


</style>

<div class="record-entry">	
    <section style="background-color: #eee;">
             
        <div class="container py-5">
        <form  method="POST" action="{% url 'previous_record'  %}"  style="display: inline;"  >
        	{% csrf_token %}
        	 {% if previous %}
        	    <button class="previous" type="submit" name="ncr" value="{{record.ncr_number}}" >&laquo; Previous Record</button>
        	  {% else %}
        	  	<button  disabled  style="margin-bottom: 15px;" type="submit" >&laquo; Previous Record</button>
        	  {% endif %}
		    </form>
		    
      <form  method="POST" action="{% url 'next_record'  %}"  style="display: inline;"  >
        	{% csrf_token %}
        	 {% if next %}
				<button class="next" type="submit" name="ncr" value="{{record.ncr_number}}" >&raquo; Next Record</button>
        	  {% else %}
				<button disabled style="margin-bottom: 15px; float: right;"  type="submit" >&raquo; Next Record</button>
        	  {% endif %}
		    </form>
  			
        <div class="row">
            <div class="col">
            <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">DASHBOARD</a></li>
                <!-- <li class="breadcrumb-item"><a href="{% url 'record_update' record.pk%}">UPDATE</a></li> -->
                <li class="breadcrumb-item active" aria-current="page">Advice no. {{ record.advice_number}}</li> 
                </ol>
	           
            </nav>
 			 </div>
        </div>

        <div class="row">

            <div class="col-lg-4">
                   <div class="card mb-4">
                    <div class="card-body text-center">
                      <!--  <a href="">&#11013; Previous Record</a> -->
                  		<h5 class="my-3">Advice no. {{ record.advice_number}}</h5>
     				<!--	<a href="">&#10145; Next Record</a> -->
                        <hr>
                        <div class="row">

                            <div class="col-md-6">
                                <p class="text-muted mb-1">
                                    {% if record.issue_solved == "no"  %}
                                        <button type="button" class="btn btn-success p-5 fw-bolder disabled">ISSUE OPEN</button>
                                    {% elif record.issue_solved == "yes" %}
                                        <button type="button" class="btn btn-danger p-5 fw-bolder  disabled" >ISSUE CLOSED</button>
                                    {% else %}
                                        <h1>----</h1>
                                    {% endif %}
                                </p>
                            </div>    
                            <div class="col-md-6">
                                <p class="text-muted mb-1">
                                    {% if record.severity == 3  %}
                                        <button type="button" class="btn btn-danger p-5 fw-bolder disabled">
                                            SEVERITY {{record.severity}}
                                            <br>
                                            [Stop the job]
                                        </button>
                                    {% elif record.severity == 2 %}
                                        <button type="button" class="btn btn-warning p-5 fw-bolder  disabled" >
                                            SEVERITY {{record.severity}}
                                            <br>
                                            [inform the supervisor and continue working]
                                        </button>
                                    {% elif record.severity == 1 %}
                                        <button type="button" class="btn btn-secondary p-5 fw-bolder  disabled" >
                                            SEVERITY {{record.severity}}
                                            <br>
                                            [inform the supervisor]
                                        </button>
                                    {% else %}
                                        <h1>----</h1>
                                    {% endif %}
                                </p>
                            </div>  
                            </div>  
                        
                        <hr>

                        <div class="d-flex justify-content-evenly mb-2">
                            <a class="btn btn-info " href="{% url 'record_update' record.pk %}" role="button">
                                UPDATE
                            </a>
                            <a class="btn btn-secondary" href="{% url 'record_delete' record.pk %}"  role="button">
                                <!-- style=" background-color: #68889E; color:#FFF; border-color: #2F3E48;" -->
                                DELETE
                            </a>
                            <input class="btn btn-dark" type=button value="BACK" onClick="window.history.back();return false;">

                        </div>

                    </div>
                </div>
            <div class="card mb-4 mb-lg-0">
                <div class="card-body p-3 text-center">
                    <div class="row">
                        <div class="col-sm-5 ">
                            <p class="mb-0 font-weight-bold ">NCR-Number</>
                        </div>
                        <div class="col-sm-1 ">
                            <h5 class="mb-0 font-weight-bold ">:</>
                        </div>
                        <div class="col-sm-6">
                            <p class="text-muted mb-0">{{ record.ncr_number}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-5">
                            <p class="mb-0 font-weight-bold ">Cost</>
                        </div>
                        <div class="col-sm-1 ">
                            <h5 class="mb-0 font-weight-bold ">:</>
                            </div>
                        <div class="col-sm-6">
                            <p class="text-muted mb-0">
                            {% if record.cost is None  %}
				            		0
				              {% else %}
				                {{ record.cost }}
				            {% endif %}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-5">
                            <p class="mb-0 font-weight-bold ">Issue Date</>
                        </div>
                        <div class="col-sm-1 ">
                            <h5 class="mb-0 font-weight-bold ">:</>
                            </div>
                        <div class="col-sm-6">
                            <p class="text-muted mb-0">{{ record.issue_date }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-5">
                            <p class="mb-0 font-weight-bold ">Closure Date</>
                        </div>
                        <div class="col-sm-1 ">
                            <h5 class="mb-0 font-weight-bold ">:</>
                        </div>
                        <div class="col-sm-6">
                            <p class="text-muted mb-0">{{ the_closure_date }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-5">
                            <p class="mb-0 font-weight-bold ">Target Completion Date</>
                        </div>
                        <div class="col-sm-1 ">
                            <h5 class="mb-0 font-weight-bold ">:</>
                        </div>
                        <div class="col-sm-6">
                            <p class="text-muted mb-0">{{ the_target_completion_date }}</p>
                        </div>
                    </div>
                </div>
            </div>

            </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">


                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Department:</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">

                                    {% for area in record.area.all %}
                                    {% if not forloop.first %}, {% endif %}

                                    {{area}}
                            
                                    {% endfor %}

                                </p>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0"> Area:</p>
                                </div>
                                <div class="col-sm-9">
                                        <p>
                                        {% if record.production_issue.all|length %}
                                            {% for issue in record.production_issue.all %}
                                            {% if not forloop.first %}
                                            , 
                                            {% endif %}   
                                            {{issue}}                
                                            {% endfor %}
                                            &nbsp;
                                        {% endif %}  

                                        {% if record.supplier_issue.all|length %}
                                            {% for issue in record.supplier_issue.all %}
                                            {% if not forloop.first %}
                                            , 
                                            {% endif %}   
                                            {{issue}}                     
                                            {% endfor %}
                                            &nbsp;
                                        {% endif %}  

                                        {% if record.customer_issues.all|length %}
                                            {% for issue in record.customer_issues.all %}
                                            {% if not forloop.first %}
                                            , 
                                            {% endif %}   
                                            {{issue}}                         
                                            {% endfor %}
                                            &nbsp;
                                        {% endif %}

                                        {% if record.other_issues.all|length %}
                                            Other:{% for issue in record.other_issues.all %}
                                            {% if not forloop.first %}
                                            , 
                                            {% endif %}   
                                            {{issue}}                  
                                            {% endfor %}
                                            &nbsp;
                                        {% endif %}
                                        </p>
                                </div>
                            </div>
                            <hr>

                            <!-- <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0"> Specific Issues :</p>
                                </div>
                                <div class="col-sm-9">

                                        {% for issue in record.area_in_specific.all %}
                                        {% if not forloop.first %}
                                            ,
                                        {% endif %}
    
                                        {{issue}}
                                
                                        {% endfor %}
                    
                                </div>
                            </div>
                            <hr> -->

                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Severity:</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ record.severity }}</p>
                                </div>
                            </div>
                            <hr>


                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Location:</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">

                                    {% for location in record.location.all %}
                                    {% if not forloop.first %},
                                    {% endif %}

                                    {{location}}
                            
                                    {% endfor %}

                                </p>
                                </div>
                            </div>
                            <hr>


                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Person Responsible:</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">

                                    {% for employee_obj in record.the_subject_responsible.all %}

                                            {% if not forloop.first %},
                                            {% endif %}

                                            {{ employee_obj }}

                                        {% endfor %}

                                </p>
                                </div>
                            </div>
                            <hr>                          
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Company Responsible:</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">    
                                    {% for info in company_name_and_category %}
                                        {% if not forloop.first %},{% endif %}
                                        {{ info }} 
                                    {% endfor %}
                                                   
                                </p>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Client:</p>
                                </div>
                                <div class="col-sm-9">
                                <!-- <p class="text-muted mb-0">{{ record.client }}</p> -->
                                {% for client_obj in record.jb_client.all %}

                                {% if not forloop.first %}, 
                                {% endif %}

                                {{ client_obj }}

                                {% endfor %}
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Supervisor Team:</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">

                                    {% for supervisor_obj in record.supervisor.all %}
                                    {% if not forloop.first %},
                                    {% endif %}

                                    {{supervisor_obj}}
                            
                                    {% endfor %}

                                </p>
                                </div>
                            </div>
                            <hr>


                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Quality Engineers:</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                    {% for quality_engineer in record.printed_by.all %}

                                    {% if not forloop.first %}, 
                                    {% endif %}

                                    {{ quality_engineer }}

                                    {% endfor %}
                                </p>
                                </div>
                            </div>
                            <hr>

                            
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Description:</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ record.description }}</p>
                                </div>
                            </div>
                            <hr>


                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Root Cause:</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ record.root_cause }}</p>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Interim containment Action:</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ record.interim_containment_action }}</p>
                                </div>
                            </div>
                            <hr>

                                  
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Corrective Action:</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ record.corrective_action }}</p>
                                </div>
                            </div>
                            <hr>

                             
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Result of the Validation Action:</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ record.result_validation_action }}</p>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Issue Affects Other Areas:</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                    {% if record.issue_affect_other_areas == "yes" %}
                                            Yes
                                        {% if record.issue_affect_other_areas_description %}
                                            ({{ record.issue_affect_other_areas_description }})
                                        {% endif %}
                                    {% else %}
                                            No
                                    {% endif %}
                                    </p>
                                </div>
                            </div>
                            <hr>

                            <!-- <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Issue Affect Other Areas Description</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ record.issue_affect_other_areas_description }}</p>
                                </div>
                            </div>
                            <hr> -->

                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Prevented Reoccurrence:</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                    {% if record.prevented_reoccurrence == "yes" %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </p>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Issue Solved:</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                    {% if record.issue_solved == "yes" %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Estimated Completion Time:</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                    {% if record.estimated_readability  %}
					            		 {{ record.estimated_readability }}
					                {% else %}
					                0d: 0h: 0m 
					                {% endif %}
                              </p>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Downtime:</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                    {% if record.downtime_readability  %}
					            	     {{ record.downtime_readability }}
					                {% else %}
					               0d: 0h: 0m 
					                {% endif %}
					            </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Images:</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                    {% for img_url in record.image_set.all %}
                                    {% if not forloop.first %}
                                        <br>
                                    {% endif %}

                                    <img src="{{ img_url }}" width="450">
				    	            <br>
                                    {% endfor %}
                                </p>
                                </div>
                            </div>
                            <hr>
                            
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Comments:</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ record.comments }}</p>
                                </div>
                            </div>
                            <hr>
                            <!-- <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Archive Number</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ record.archive_number }}</p>
                                </div>
                            </div>
                            <hr> -->
        
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">NCR Report</p>
                                </div>
                                <div class="col-sm-9">                                 
                                      <a class="btn btn-secondary active" name="pdf_button" href="{% url 'run_pdfgen' record.pk record.ncr_number %}">Generate NCR</a></li>  
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </section>



</div>

{% endblock content %}
