{% extends 'main.html' %}


{% block content %}

<div class="dashboardmodel-entry">

    <section style="background-color: #eee;">
        <div class="container py-5">
        <div class="row">
            <div class="col">
            <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">DASHBOARD</a></li>
                <!-- <li class="breadcrumb-item"><a href="{% url 'record_update' dashboardmodel.pk%}">UPDATE</a></li> -->
                <li class="breadcrumb-item active" aria-current="page">Job Reference - {{ dashboardmodel.job_reference_number}}</li>
                </ol>
            </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <h5 class="my-3">Job Reference Number: {{ dashboardmodel.job_reference_number}}</h5>
                        <hr>
                        <p class="text-muted mb-1">
                            {% if dashboardmodel.issue_solved == "yes"  %}
                                <button type="button" class="btn btn-success p-5 fw-bolder">ISSUE OPEN</button>
                            {% elif dashboardmodel.issue_solved == "no" %}
                                <button type="button" class="btn btn-danger p-5 fw-bolder " >ISSUE CLOSED</button>
                            {% else %}
                                <h1>----</h1>
                            {% endif %}
                        </p>
                        
                        <hr>

                        <div class="d-flex justify-content-evenly mb-2">
                            <a class="btn btn-info " href="{% url 'record_update' dashboardmodel.pk %}" role="button">
                                UPDATE
                            </a>
                            <a class="btn btn-secondary" href="{% url 'record_delete' dashboardmodel.pk %}"  role="button">
                                <!-- style=" background-color: #68889E; color:#FFF; border-color: #2F3E48;" -->
                                DELETE
                            </a>
                            <a class="btn btn-dark" href="{% url 'dashboard' %}" role="button">BACK</a>
                        </div>

                    </div>
                </div>
            <div class="card mb-4 mb-lg-0">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-sm-4">
                        <p class="mb-0">NCR-Number :</p>
                        </div>
                        <div class="col-sm-8">
                        <p class="text-muted mb-0">{{ dashboardmodel.ncr_number}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                        <p class="mb-0">Cost :</p>
                        </div>
                        <div class="col-sm-8">
                        <p class="text-muted mb-0">£{{ dashboardmodel.cost}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                        <p class="mb-0">Issue Date :</p>
                        </div>
                        <div class="col-sm-8">
                        <p class="text-muted mb-0">{{ dashboardmodel.issue_date }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                        <p class="mb-0">Closure Date :</p>
                        </div>
                        <div class="col-sm-8">
                        <p class="text-muted mb-0">{{ dashboardmodel.closure_date}}</p>
                        </div>
                    </div>
                </div>
            </div>

            </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Location</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">

                                    {% for location in dashboardmodel.location.all %}
                                    {% if not forloop.first %}
                                    ,
                                    {% endif %}

                                    {{location}}
                            
                                    {% endfor %}

                                </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Area</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">

                                    {% for area in dashboardmodel.area.all %}
                                    {% if not forloop.first %}
                                        ,
                                    {% endif %}

                                    {{area}}
                            
                                    {% endfor %}

                                </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Supervisor Team</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">

                                    {% for supervisor_obj in dashboardmodel.supervisor.all %}
                                    {% if not forloop.first %}
                                        ,
                                    {% endif %}

                                    {{supervisor_obj}}
                            
                                    {% endfor %}

                                </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Person Responsible</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">

                                    {% for employee_obj in dashboardmodel.employee.all %}

                                            {% if not forloop.first %}
                                                ,
                                            {% endif %}

                                            {{ employee_obj }}

                                        {% endfor %}

                                </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">description</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ dashboardmodel.description }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">(097) 234-5678</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Mobile</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">(098) 765-4321</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">Johnatan Smith</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">example@example.com</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">(097) 234-5678</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Mobile</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">(098) 765-4321</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </section>



</div>

{% endblock content %}