{% extends 'main.html' %}

{% load static %}

{% block additional_styles %}
<style>

body {
    background-image:  url("{% static 'img/truck.jpg' %}");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;}
</style>
{% endblock %}

{% block content %}



<!-- Page content-->

<div class="container">
    <div class="text-center mt-5">

        {% if request.user.is_superuser %}
            <h1>Quality Engineering Admin Panel</h1>
            <p class="lead">J&B Engineering</p>
        {% else %}
            <h1>Quality Engineering Board</h1>
            <p class="lead">J&B Engineering</p>
        {% endif %}
            
        {% if not request.user.is_superuser %}
            <div class="m-3">
                <a class=" font-weight-bold btn btn-primary lg  mt-2 border border-5 border-dark p-5 fs-3" href="{% url 'operative_create' %}" 
                role="button">Operative Input : CREATE RECORD</a>
            </div>
        {% endif %}



        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a> 
        {% else %}
        <a href="{% url 'login' %}">Login</a> 
        {% endif %}
        
    </div>


<div class="d-flex justify-content-center align-middle mt-5">
                                        
    <div class="  col-md-5 col-lg-6 mt-5" >
        <div class="card">
            <div class="text-center my-5">
                <h1>Home page</h1>
                <p class="lead">J and B Engineering</p>

                    <div class="m-3">
                        <a class=" font-weight-bold btn btn-primary lg  mt-2 border border-5 border-dark p-5 fs-3" href="{% url 'operative_create' %}" 
                        role="button">Operative Input : CREATE RECORD</a>
                    </div>



                {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a> {% else %}
                <a href="{% url 'login' %}">Login</a> {% endif %}
                
            </div>
        </div>
    </div>    


</div>

{% endblock content %}
