
{% load static %}


<!-- Responsive navbar-->
{% if request.user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        {% if request.user.is_superuser %}

            <a  href="{% url 'dashboard' %}"> <img src="{% static 'img/modified_logo.jpg' %}" alt="Logo" style="width:65%;height:5%;float: left;"  />
</a>
        {% else %}
            <a class="navbar-brand" href="{% url 'dashboard_b' %}">Operative Dashboard</a>
        {% endif %}

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'main_page' %}">Home</a></li>
                
                    {% if request.user.is_superuser %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}">Admin Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'filter_dashboard' %}">Search</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'dashboard_b' %}">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'filter_dashboard_b' %}">Search</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li> -->
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% endif %}
            </ul>
        </div>     
    </div>
</nav>
{% endif %}
